<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/glider.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script> -->
    <title>5 Dev's</title>
</head>

<body>

    <%- include ('../partials/header') %>

        <section>


            <div class="slider">
                <div class="slides">
                    <!--Radio Buttons-->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <!--FIM Radio Buttons-->
                    <!--slides IMAGENS-->
                    <div class="slide first">

                        <img src="/img/slide1.png" alt="imagem 1" />
                    </div>
                    <div class="slide">
                        <img src="/img/slide2.png" alt="imagem 2" />
                    </div>
                    <div class="slide">
                        <img src="/img/slide3.png" alt="imagem 3" />
                    </div>
                    <div class="slide">
                        <img src="/img/slide4.png" alt="imagem 4" />
                    </div>
                    <!-- FIM slides IMAGENS-->
                    <!-- NAVEGATION AUTO-->
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
            <script src="script.js"></script>

            <div class="destaquesFaixa">
                <p>DESTAQUES DA SEMANA</p>
            </div>
        </section>

        <section>
            <!-- <div class="container">
            <div class="produtoImagem">
                <img class="variasImagens" src="/img/product-1.png" alt="">
                <img class="estrela" src="/Img/estrela.png" alt="estrela">
                <h5 class="nomeProduto">Apple new mac book 2015 March</h5>
                <h4 class="precoProduto"><del> R$ 1,999.00 </del></h4>
                <h2> R$1,200.00</h2>
                <button class="botaoComprar">Compre Agora</button>
            </div>
            <div class="produtoImagem">
                <img class="variasImagens" src="/img/product-2.png" alt="">
                <img class="estrela" src="/Img/estrela.png" alt="estrela">
                <h5 class="nomeProduto">Apple new mac book 2015 March</h5>
                <h4 class="precoProduto"><del> R$ 1,999.00 </del></h4>
                <h2> R$1,200.00</h2>
                <button class="botaoComprar">Compre Agora</button>
            </div>
            <div class="produtoImagem">
                <img class="variasImagens" src="/img/product-3.png" alt="">
                <img class="estrela" src="/Img/estrela.png" alt="estrela">
                <h5 class="nomeProduto">Apple new mac book 2015 March</h5>
                <h4 class="precoProduto"><del> R$ 1,999.00 </del></h4>
                <h2> R$1,200.00</h2>
                <button class="botaoComprar">Compre Agora</button>
            </div>
            <div class="produtoImagem">
                <img class="variasImagens" src="/img/product-4.png" alt="">
                <img class="estrela" src="/Img/estrela.png" alt="estrela">
                <h5 class="nomeProduto">Apple new mac book 2015 March</h5>
                <h4 class="precoProduto"><del> R$ 1,999.00 </del></h4>
                <h2> R$1,200.00</h2>
                <button class="botaoComprar">Compre Agora</button>
            </div>
            <div class="produtoImagem">
                <img class="variasImagens" src="/img/product-5.png" alt="">
                <img class="estrela" src="/Img/estrela.png" alt="estrela">
                <h5 class="nomeProduto">Apple new mac book 2015 March</h5>
                <h4 class="precoProduto"><del> R$ 1,999.00 </del></h4>
                <h2> R$1,200.00</h2>
                <button class="botaoComprar">Compre Agora</button>
            </div>

        </div> -->


            <div class="glider-contain">
                <div class="glider">
                    <% produtos.forEach(produto => { %>
                    <div>
                        <img class="photoProduto" src="<%= produto.imagem %>" alt="">
                        <h5 class="nomeProduto"><%= produto.nome %></h5>
                        <h4 class="precoProduto"><del><%= produto.preco %></del></h4>
                        <h2> R$1,200.00</h2>
                        <a href="/home/detalhes/:id" class="botaoComprar">Compre Agora</a>
                    </div>
                    <% }) %>
                </div>
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>

        </section>
        <div class="depart_cor">
            <p class="departamentosP">Departamentos</p>
        </div>


        <section class="departamentosAll">

            <div class="departamentosicone">
                <h4 class="nomeIcone">HARDWARE</h4>
                <a href=""> <img src="/img/HARDWARE_1648493892.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CELULARES & SMARTPHONES</h4>
                <a href=""> <img src="/img/CELULAR-SMARTPHONE_1645045581.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">GAMES</h4>
                <a href=""> <img src="/img/GAMER.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">PERIFERICOS</h4>
                <a href=""> <img src="/img/PERIFERICOS.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">COMPUTADORES</h4>
                <a href=""> <img src="/img/COMPUTADORES.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CADEIRAS</h4>
                <a href=""> <img src="/img/CADEIRAS.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CADEIRAS</h4>
                <a href=""> <img src="/img/CADEIRAS.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CADEIRAS</h4>
                <a href=""> <img src="/img/CADEIRAS.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CADEIRAS</h4>
                <a href=""> <img src="/img/CADEIRAS.png" alt=""> </a>
            </div>
        </section>

        <div class="recebaEmail">
            <div class="recebatext">
                <h3>5 Dev's News</h3>
                <h4>Receba ofertas exclusivas no seu e-mail</h4>
            </div>

            <form class="grupoInputs">
                <div class="mb-3">

                    <label for="nome" class="form-label"></label>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Qual é o seu nome?">
                </div>
            </form>
            <form class="grupoInputs">
                <div class="mb-3">
                    <label for="email" class="form-label"></label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Seu E-mail?">
                </div>
            </form>

            <button class="botaoCadastrar">CADASTRAR</button>


        </div>

        <%- include ('../partials/footer') %>


            <script src="js/glider.js"></script>
            <script src="js/index.js"></script>
</body>

</html>