<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/glider.css">
    <title>5 Dev's</title>
</head>

<body>

    <%- include ('../partials/header') %>

        <section>


            <div class="slider">
                <div class="slides">
                    
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    
                    <div class="slide first">

                        <img src="/Img/i1313.jpg" alt="imagem 1" />
                    </div>
                    <div class="slide">
                        <img src="/Img/ps5.png" alt="imagem 2" />
                    </div>
                    <div class="slide">
                        <img src="/Img/placavideoslide.jpg" alt="imagem 3" />
                    </div>
                    <div class="slide">
                        <img src="/Img/cadeiragamerslide.jpg" alt="imagem 4" />
                    </div>
                    
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                </div>
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
            </div>
            <script src="script.js"></script>

            <div class="destaquesFaixa">
                <p>DESTAQUES DA SEMANA</p>
            </div>
        </section>

        <section>
            <div class="glider-contain">
                <div class="glider">
                    <% products.forEach(product=> { %>
                        <div>
                            <img class="photoProduto" src="<%= product.image %>" alt="">
                            <h5 class="nomeProduto">
                                <%= product.name %>
                            </h5>
                            <h4 class="precoProduto"></h4>
                            <h2><%= product.price %></h2>
                            <a href="/home/detail/<%=product.id%>" class="botaoComprar">Compre Agora</a>
                        </div>
                        <% }) %>
                </div>
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>

        </section>
        <div class="depart_cor">
            <p class="departamentosP">Departamentos</p>
        </div>


        <section class="departamentosAll">

            <div class="departamentosicone">
                <h4 class="nomeIcone">HARDWARE</h4>
                <a href=""> <img src="/img/HARDWARE_1648493892.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CELULARES & SMARTPHONES</h4>
                <a href=""> <img src="/img/CELULAR-SMARTPHONE_1645045581.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">GAMES</h4>
                <a href=""> <img src="/img/GAMER.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">PERIFERICOS</h4>
                <a href=""> <img src="/img/PERIFERICOS.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">COMPUTADORES</h4>
                <a href=""> <img src="/img/COMPUTADORES.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CADEIRAS</h4>
                <a href=""> <img src="/img/CADEIRAS.png" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CASA INTELIGENTE</h4>
                <a href=""> <img src="/Img/casainteligente.webp" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">SERVIÇOS DIGITAIS</h4>
                <a href=""> <img src="/Img/servicosdigitais.webp" alt=""> </a>
            </div>
            <div class="departamentosicone">
                <h4 class="nomeIcone">CONECTIVIDADE</h4>
                <a href=""> <img src="/Img/CONECTIVIDADE.webp" alt=""> </a>
            </div>
        </section>

        <div class="recebaEmail">
            <div class="recebatext">
                <h3>5 Dev's News</h3>
                <h4>Receba ofertas exclusivas no seu e-mail</h4>
            </div>

            <form class="grupoInputs">
                <div class="mb-3">

                    <label for="nome" class="form-label"></label>
                    <input type="text" name="nome" id="nome" class="form-control" placeholder="Qual é o seu nome?">
                </div>
            </form>
            <form class="grupoInputs">
                <div class="mb-3">
                    <label for="email" class="form-label"></label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Seu E-mail?">
                </div>
            </form>

            <button class="botaoCadastrar">CADASTRAR</button>


        </div>

        <%- include ('../partials/footer') %>


            <script src="js/glider.js"></script>
            <script src="js/script.js"></script>
            <script src="js/index.js"></script>
            <script src="js/main.js"></script>
            <script src="sweetalert2.all.min.js"></script>
</body>

</html>